= render 'layouts/sellheader'
.sign-up-main
  .sign-up-main__info
    会員情報入力
  .sign-up-main__form
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .sign-up-main__form__field--top
        = f.label :ニックネーム
        %span.form-require
          必須
        %br/
        = f.text_field :nickname,placeholder:"例）メルカリたろう"
      .sign-up-main__form__field
        = f.label :メールアドレス
        %span.form-require
          必須
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"PC・携帯どちらでも可"
      .sign-up-main__form__field
        = f.label :パスワード
        %span.form-require
          必須
        %br/
        = f.password_field :password, autocomplete: "new-password",placeholder:"6文字以上"
      .sign-up-main__form__field
        = f.label :確認用パスワード
        %span.form-require
          必須
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password",placeholder:"6文字以上"
      .sign-up-main__form__field
        = f.label :お名前
        %span.form-require
          必須
        %br/
        = f.text_field :last_name,style:"margin-bottom:5px",placeholder:"例）山田"
        %br/
        = f.text_field :first_name,placeholder:"例）太郎"
      .sign-up-main__form__field--name
        = f.label :お名前カナ
        %span.form-require
          必須
        %br/
        = f.text_field :last_name_kana,style:"margin-bottom:5px",placeholder:"例）ヤマダ"
        %br/
        = f.text_field :first_name_kana,placeholder:"例）タロウ"
      .sign-up-main__form__field--name
        = f.label :郵便番号
        %span.form-require
          必須
        %br/
        = f.text_field :zip_code,maxlength:7,placeholder:"例）1234567"
      .sign-up-main__form__field
        = f.label :都道府県
        %span.form-require
          必須
        %br/
        = f.collection_select :prefecture_id, Prefecture.all, :id, :prefecture,{prompt: '選択してください'}, class: "form--prefecture"
      .sign-up-main__form__field
        = f.label :市町村
        %span.form-require
          必須
        %br/
        = f.text_field :city,placeholder:"例）横浜市緑区"
      .sign-up-main__form__field
        = f.label :番地
        %span.form-require
          必須
        %br/
        = f.text_field :address,placeholder:"例）青山1-1-1"
      .sign-up-main__form__field
        = f.label :建物
        %br/
        = f.text_field :building,placeholder:"例）柳ビル103"
      .sign-up-main__form__field
        = f.label :電話番号
        %span.form-require
          必須
        %br/
        = f.text_field :telephone,placeholder:"例）09012345678"
      .sign-up-main__form__field--birth
        = f.label :生年月日,class:"birth-info"
        %span.form-require
          必須
        %br/
        %ul.birth--field
          %li.birth--list
            .birth--select
              = f.select :birth_year,[*(1900..2018)],prompt:"選択してください"
            .birth
              年
          %li.birth--list
            .birth--select
              = f.select :birth_month,[*(1..12)],prompt:"選択してください"
            .birth
              月
          %li.birth--list
            .birth--select
              = f.select :birth_day,[*(1..31)],prompt:"選択してください"
            .birth
              日
      .g-recaptcha{"data-sitekey": "6LfeCKEUAAAAAHogdoz14qZbylP951edYGrtHNZM"}
      .submit-btn
        = f.submit "登録完了",class:"next-btn"
= render 'layouts/sellfooter'
