= render partial: "items/header"
.breads
  - breadcrumb :exhibit_item
  = breadcrumbs separator: "#{content_tag(:i, '', class: 'fa fa-angle-right')}"
.default-container
  %section.item-container
    %h1 #{@item.name}
    .item-container__main-content
    .item-container__image
      = image_tag  "#{@item_images[0]&.image}", alt: "", id: "main-box"
      - if @item.order_status_id == 3
        .sell-stop-box
          .sell-stop-text STOP
      %ul.image-slide
        %li
        - @item_images.each do|item|
          %li
            =image_tag "#{item.image}",alt:"", class: "slide-box"
            
    %table.item-container__detail
      %tbody
        %tr
          %th 出品者
          %td
            = link_to "#{@item.user.nickname}"
        %tr
          %th カテゴリー
          %td
            = link_to "#{@item.first_category.first_category}"
            %br
            = link_to "\→#{@item.second_category.second_category}"
            %br
            = link_to "\→#{@item.third_category.third_category}"
        %tr
          %th ブランド
          %td #{@item.brand.brand}
        %tr
          %th 商品のサイズ
          %td #{@item.size.size}
        %tr
          %th 商品の状態
          %td #{@item.condition.condition}
        %tr
          %th 配送料の負担
          %td #{@item.delivery_charge.charge}
        %tr
          %th 配送の方法
          %td #{@item.delivery_way.way}
        %tr
          %th 配送元地域
          %td
            = link_to "#{@item.prefecture.prefecture}"
        %tr
          %th 発送日の目安
          %td #{@item.delivery_date.date}
    .item-container__price
      %span.item-price
        = number_to_currency(@item.price, format:"%u%n", unit: "￥", strip_insignificant_zeros: true)
      %span.item-taxIn
        (税込)
      %span.item-tax-include
        \送料込み
    .item-container__discription
      %p
      \#{@item.description}
  .listing-item-change-box
    = link_to edit_item_path(@item), class: "item-info-red" do
      商品の編集
    %p 
      or
    - if @item.order_status.id == 1
      = link_to order_status_path(@item), class: "item-info-gray" do
        出品を停止する
    - else
      = link_to order_status_path(@item), class: "item-info-red" do
        出品を再開する
        
    = link_to "この商品を削除する", item_path, method: :delete, data: { confirm: '確認削除すると二度と復活できません。削除する代わりに停止することもできます。本当に削除しますか？' }, class: "item-info-gray"
  .comment
    .comment__box
      %p相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      .form
      .send コメントする
= render partial: "items/footer"