= render 'layouts/sellheader'
.login-box
  .login-box__no-account
    アカウントをお持ちでない方はこちら
    %br/
    .signup--box
      =link_to "新規会員登録", new_user_registration_path,class: "signup-btn"
  .login-box__from-sns
    .login-box__from-sns__facebook
      %i.fab.fa-facebook-square.facebook-icon
      %span.facebook-text
      =link_to "Facebookでログイン", user_facebook_omniauth_authorize_path
      
    .login-box__from-sns__google
      %i.fab.fa-google-plus.google-icon
      %span.google-text
      =link_to "Googleでログイン" ,user_google_oauth2_omniauth_authorize_path
  .login-box__form
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .login-box__form__field
        = f.email_field :email, autocomplete: "email",placeholder:"メールアドレス"
      .login-box__form__field
        = f.password_field :password, autocomplete: "current-password",placeholder:"パスワード"
      .g-recaptcha{"data-sitekey": "6LfeCKEUAAAAAHogdoz14qZbylP951edYGrtHNZM"}
      .submit-btn
        = f.submit "ログイン",class:"next-btn"
= render 'layouts/sellfooter'
