.header-wrap
  %header
    .logo-and-search.clearfix
      =link_to root_path do
        = image_tag("header-footer_images/mercari-coloful_logo.svg", class: "logo-and-search__logo left-float")
      .search
        = search_form_for @search, url: search_path do |f|
          .logo-and-search__search.right-float
            = f.search_field :name_cont, placeholder:"キーワードから探す"
            = button_tag type:"submit" do
              %i.fa.fa-search
        %end
    .lists.clearfix
      .lists__left.left-float
        %ul
          %li.left_btn
            %h2
              = link_to do
                カテゴリーから探す
          %li.left_btn
            %h2
              = link_to do
                ブランドから探す
      .lists__right.right-float

        -if user_signed_in?
          %ul
            %li.right_btn
              = link_to "/users/#{current_user.id}",class: "right_btn" do
                = image_tag("header-footer_images/member_photo.png", class: "member_photo left-float")
                マイページ
            %li.right_btn
              = link_to class: "right_btn" do
                %i.fa.fa-bell.icon
                お知らせ
            %li.right_btn
              = link_to class: "right_btn" do
                %i.fa.fa-check.icon
                やることリスト
        -else
          %ul.right_btn--signed-out
            %li.right_btn--login
              =link_to "ログイン", new_user_session_path, class: 'top-login-btn'
            %li.right_btn--signup
              = link_to "新規会員登録", users_form_path,  class: 'top-signup-btn'
