.header-wrap
  %header
    .logo-and-search.clearfix
      =link_to root_path do
        = image_tag("header-footer_images/mercari-coloful_logo.svg", class: "logo-and-search__logo left-float")
      .search
        = search_form_for @search, url: search_path do |f|
          .logo-and-search__search.right-float
            = f.search_field :name_cont, placeholder:"キーワードから探す"
            = button_tag type:"submit" do
              %i.fa.fa-search
        %end
    .lists.clearfix
      %ul.gnav
        %li.left_btn1
          %h2
          = link_to categorys_path do
            カテゴリから検索
            %ul
              -FirstCategory.all.each do |firstcategory|
                %li
                  = link_to category_path(firstcategory.id), action: :show do
                    #{firstcategory.first_category}
                  %ul
                    -SecondCategory.where(first_category_id: [firstcategory.id]).each do |secondcategory|
                      %li
                        = link_to second_category_path(secondcategory.id) do 
                          #{secondcategory.second_category}
                        %ul
                          -ThirdCategory.where(second_category_id: [secondcategory.id]).each do |thirdcategory|
                            %li
                              = link_to third_category_path(thirdcategory.id) do 
                                #{thirdcategory.third_category}
                          %end
                    %end
              %end

          %li.left_btn2
            %h2
              = link_to do
                ブランドから探す
          %li.left_btn

          -if user_signed_in?
            .lists__right.right-float
            %ul
              %li.right_btn
                = link_to user_path(current_user),class: "right_btn" do
                  = image_tag("header-footer_images/member_photo.png", class: "member_photo left-float")
                  マイページ
              %li.right_btn
                = link_to class: "right_btn" do
                  %i.fa.fa-bell.icon
                  お知らせ
              %li.right_btn
                = link_to class: "right_btn" do
                  %i.fa.fa-check.icon
                  やることリスト
          -else
            .lists__right.right-float
            %ul.right_btn--signed-out
            %ul.right_btn--signed-out
              %li.right_btn--signup
                = link_to "新規会員登録", users_form_path,  class: 'top-signup-btn'
              %li.right_btn--login
                = link_to "ログイン", new_user_session_path, class: 'top-login-btn'
