%li.search_item-box
  = link_to item_path(item) do
    = image_tag"#{item.item_images[0]&.image}", alt: "", class: "search_image"
    -if item.order_status_id == 2
      .sold-out-box
        .sold-out-text SOLD
    .search_text
      .search_name
        #{item.name}
      .search_box
        .search_price
          = number_to_currency(item.price, format:"%u%n", unit: "￥", strip_insignificant_zeros: true)
        .search_price-tax
          (税込)
      .search_nice
        = fa_icon "heart"
        %span
        #{item.likes.count}
        