= render partial: "header"
.mainwrapper
.top-main-visuals
  .top-main-visual-1
    .center-wrapper
      .left-img
        %h2
          スマホでかんたん
          %br
          フリマアプリ
        %p
          メルカリはスマホカメラからすぐに出品できる
          %br
          購入時も安心な独自システムのアプリです
        .top-main-visual-store.clearfix
          %ul.imgs.clearfix
            %li
              = image_tag "header-footer_images/app-store.svg", class: "imgs__store app"
            %li
              = image_tag "header-footer_images/google-play.svg", class: "imgs__store google"
      .right-img
        = image_tag "header-footer_images/main_content.png", class: "download_content_pc"
  .top-main-visual-2
  .top-main-visual-3

%section.pickup-container
  %h2.pickup-head
    ピックアップカテゴリー
  %section.item-boxs
    %h3
      = link_to do
        レディース新着アイテム
    %ul
      - @items.where(first_category_id:1).each do |item|
        = render partial: 'items/item-box', locals: {item:item}
    .view-all
      =link_to do
        すべての商品を見る
  %section.item-boxs
    %h3
      = link_to do
        メンズ 新着アイテム
    %ul
      - @items.where(first_category_id:2).each do |item|
        = render partial: 'items/item-box', locals: {item:item}
    .view-all
      =link_to do
        すべての商品を見る
  %section.item-boxs
    %h3
      = link_to do
        ベビー・キッズ 新着アイテム
    %ul
      - @items.where(first_category_id:3).each do |item|
        = render partial: 'items/item-box', locals: {item:item}
    .view-all
      =link_to do
        すべての商品を見る
  %section.item-boxs
    %h3
      = link_to do
        インテリア・住まい・小物 新着アイテム
    %ul
      - @items.where(first_category_id:4).each do |item|
        = render partial: 'items/item-box', locals: {item:item}
    .view-all
      =link_to do
        すべての商品を見る
%section.pickup-container
  %h2.pickup-head
    ピックアップブランド
  %section.item-boxs
    %h3
      = link_to do
        NIKE 新着アイテム
    %ul
      - @items.where(brand_id:2).each do |item|
        = render partial: 'items/item-box', locals: {item:item}
    .view-all
      =link_to do
        すべての商品を見る
  %section.item-boxs
    %h3
      = link_to do
        adidas 新着アイテム
    %ul
      - @items.where(brand_id:3).each do |item|
        = render partial: 'items/item-box', locals: {item:item}
    .view-all
      =link_to do
        すべての商品を見る
  %section.item-boxs
    %h3
      = link_to do
        PUMA 新着アイテム
    %ul
      - @items.where(brand_id:4).each do |item|
        = render partial: 'items/item-box', locals: {item:item}
    .view-all
      =link_to do
        すべての商品を見る
  %section.item-boxs
    %h3
      = link_to do
        Reebok 新着アイテム
    %ul
      - @items.where(brand_id:5).each do |item|
        = render partial: 'items/item-box', locals: {item:item}
    .view-all
      =link_to do
        すべての商品を見る
  %section.item-boxs
    %h3
      = link_to do
        CONVERSE 新着アイテム
    %ul
      - @items.where(brand_id:6).each do |item|
        = render partial: 'items/item-box', locals: {item:item}
    .view-all
      =link_to do
        すべての商品を見る

= render partial: "footer"
