= render partial: "header"
.mainwrapper
.top-main-visuals
  .top-main-visual-2
  .top-main-visual-3
  .top-main-visual-1
    .center-wrapper
      .left-img
        %h2 スマホでかんたん
        %h2 フリマアプリ
        %p
          メルカリはスマホカメラからすぐに出品できる
          %br
          購入時も安心な独自システムのアプリです
        .top-main-visual-store.clearfix
          %ul.imgs.clearfix
            %li
              = image_tag "header-footer_images/app-store.svg", class: "imgs__store app"
            %li
              = image_tag "header-footer_images/google-play.svg", class: "imgs__store google"
      .right-img
        = image_tag "header-footer_images/main_content.png", class: "download_content_pc"
%section.pickup-container
  %h2.pickup-head
    ピックアップカテゴリー
  %section.item-boxs
    %h3
      = link_to do
        レディース 新着アイテム
    %ul
      -@ladies_items.each do |item|
        %li.item-box
          =link_to "items/#{item.id}" do
            = image_tag "item_images/#{item.item_images[0].image}"
            .item-box-text
              .text-box
                %h4
                  #{item.name}
              .price
                = number_to_currency(item.price, unit: "￥", strip_insignificant_zeros: true)
              .price-tax
                (税込)
              .nice
                = fa_icon "heart"
                %span
                #{item.likes.count}
    .view-all
      =link_to do
        すべての商品を見る

  %section.item-boxs
    %h3
      = link_to do
        メンズ 新着アイテム
    %ul
      -@mens_items.each do |item|
        %li.item-box
          =link_to "items/#{item.id}" do
            = image_tag "item_images/#{item.item_images[0].image}"
            .item-box-text
              .text-box
                %h4
                  #{item.name}
              .price
                = number_to_currency(item.price, unit: "￥", strip_insignificant_zeros: true)
              .price-tax
                (税込)
              .nice
                = fa_icon "heart"
                %span
                #{item.likes.count}
    .view-all
      =link_to do
        すべての商品を見る

  %section.item-boxs
    %h3
      = link_to do
        ベビー・キッズ 新着アイテム
    %ul
      -@baby_items.each do |item|
        %li.item-box
          =link_to  "items/#{item.id}" do
            = image_tag "item_images/#{item.item_images[0].image}"
            .item-box-text
              .text-box
                %h4
                  #{item.name}
              .price
                = number_to_currency(item.price, unit: "￥", strip_insignificant_zeros: true)
              .price-tax
                (税込)
              .nice
                = fa_icon "heart"
                %span
                #{item.likes.count}
    .view-all
      =link_to do
        すべての商品を見る

  %section.item-boxs
    %h3
      = link_to do
        インテリア・住まい・小物 新着アイテム
    %ul
      -@interior_items.each do |item|
        %li.item-box
          =link_to  "items/#{item.id}" do
            = image_tag "item_images/#{item.item_images[0].image}"
            .item-box-text
              .text-box
                %h4
                  #{item.name}
              .price
                = number_to_currency(item.price, unit: "￥", strip_insignificant_zeros: true)
              .price-tax
                (税込)
              .nice
                = fa_icon "heart"
                %span
                #{item.likes.count}
    .view-all
      =link_to do
        すべての商品を見る

%section.pickup-container
  %h2.pickup-head
    ピックアップブランド
  %section.item-boxs
    %h3
      = link_to do
        NIKE 新着アイテム
    %ul
      -@nike_items.each do |item|
        %li.item-box
          =link_to  "items/#{item.id}" do
            = image_tag "item_images/#{item.item_images[0].image}"
            .item-box-text
              .text-box
                %h4
                  #{item.name}
              .price
                = number_to_currency(item.price, unit: "￥", strip_insignificant_zeros: true)
              .price-tax
                (税込)
              .nice
                = fa_icon "heart"
                %span
                #{item.likes.count}
    .view-all
      =link_to do
        すべての商品を見る
  %section.item-boxs
    %h3
      = link_to do
        adidas 新着アイテム
    %ul
      -@adidas_items.each do |item|
        %li.item-box
          =link_to  "items/#{item.id}" do
            = image_tag "item_images/#{item.item_images[0].image}"
            .item-box-text
              .text-box
                %h4
                  #{item.name}
              .price
                = number_to_currency(item.price, unit: "￥", strip_insignificant_zeros: true)
              .price-tax
                (税込)
              .nice
                = fa_icon "heart"
                %span
                #{item.likes.count}
    .view-all
      =link_to do
        すべての商品を見る
      
  %section.item-boxs
    %h3
      = link_to do
        PUMA 新着アイテム
    %ul
      -@puma_items.each do |item|
        %li.item-box
          =link_to  "items/#{item.id}" do
            = image_tag "item_images/#{item.item_images[0].image}"
            .item-box-text
              .text-box
                %h4
                  #{item.name}
              .price
                = number_to_currency(item.price, unit: "￥", strip_insignificant_zeros: true)
              .price-tax
                (税込)
              .nice
                = fa_icon "heart"
                %span
                #{item.likes.count}
    .view-all
      =link_to do
        すべての商品を見る
      
  %section.item-boxs
    %h3
      = link_to do
        Reebok 新着アイテム
    %ul
      -@reebok_items.each do |item|
        %li.item-box
          =link_to  "items/#{item.id}" do
            = image_tag "item_images/#{item.item_images[0].image}"
            .item-box-text
              .text-box
                %h4
                  #{item.name}
              .price
                = number_to_currency(item.price, unit: "￥", strip_insignificant_zeros: true)
              .price-tax
                (税込)
              .nice
                = fa_icon "heart"
                %span
                #{item.likes.count}
    .view-all
      =link_to do
        すべての商品を見る
      
  %section.item-boxs
    %h3
      = link_to do
        CONVERSE 新着アイテム
    %ul
      -@converse_items.each do |item|
        %li.item-box
          =link_to  "items/#{item.id}" do
            = image_tag "item_images/#{item.item_images[0].image}"
            .item-box-text
              .text-box
                %h4
                  #{item.name}
              .price
                = number_to_currency(item.price, unit: "￥", strip_insignificant_zeros: true)
              .price-tax
                (税込)
              .nice
                = fa_icon "heart"
                %span
                #{item.likes.count}
    .view-all
      =link_to do
        すべての商品を見る
      

= render partial: "footer"
