= render partial: "header"
.mainwrapper
.top-main-visuals
  .top-main-visual-2
  .top-main-visual-3
  .top-main-visual-1
    .center-wrapper
      .left-img
        %h2 スマホでかんたん
        %h2 フリマアプリ
        %p
          メルカリはスマホカメラからすぐに出品できる
          %br
          購入時も安心な独自システムのアプリです
        .top-main-visual-store.clearfix
          %ul.imgs.clearfix
            %li
              = image_tag "header-footer_images/app-store.svg", class: "imgs__store app"
            %li
              = image_tag "header-footer_images/google-play.svg", class: "imgs__store google"
      .right-img
        = image_tag "header-footer_images/main_content.png", class: "download_content_pc"
%section.pickup-container
  %h2.pickup-head
    ピックアップカテゴリー
  %section.item-boxs
    %h3
      = link_to do
        レディース新着アイテム
      / - @items.each do |item|
    %ul
      %li.item-box
        =link_to "/items/1" do
          = image_tag "http://img05.shop-pro.jp/PA01016/706/product/16801459_o1.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                1
    .view-all
      =link_to do
        すべての商品を見る
  %section.item-boxs
    %h3
      = link_to do
        レディース新着アイテム
    %ul
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                1
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                1
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                1
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                1
    .view-all
      =link_to do
        すべての商品を見る
  %section.item-boxs
    %h3
      = link_to do
        レディース新着アイテム
    %ul
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                1
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                1
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                1
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                1
    .view-all
      =link_to do
        すべての商品を見る
  %section.item-boxs
    %h3
      = link_to do
        レディース新着アイテム
    %ul
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                1
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                1
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                1
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                1
    .view-all
      =link_to do
        すべての商品を見る
%section.pickup-container
  %h2.pickup-head
    ピックアップブランド
  %section.item-boxs
    %h3
      = link_to do
        シャネル新着アイテム
    %ul
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              %i.fa.fa-heart
              %span
                1
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              %i.fa.fa-heart
              %span
                1
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              %i.fa.fa-heart
              %span
                1
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              %i.fa.fa-heart
              %span
                1
    .view-all
      =link_to do
        すべての商品を見る
  %section.item-boxs
    %h3
      = link_to do
        シャネル新着アイテム
    %ul
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              %i.fa.fa-heart
              %span
                1
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              %i.fa.fa-heart
              %span
                1
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              %i.fa.fa-heart
              %span
                1
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              %i.fa.fa-heart
              %span
                1
    .view-all
      =link_to do
        すべての商品を見る
  %section.item-boxs
    %h3
      = link_to do
        シャネル新着アイテム
    %ul
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                1
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                1
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                1
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                1
    .view-all
      =link_to do
        すべての商品を見る
  %section.item-boxs
    %h3
      = link_to do
        シャネル新着アイテム
    %ul
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                1
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                1
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                1
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                1



    .view-all
      =link_to do
        すべての商品を見る
  %section.item-boxs
    %h3
      = link_to do
        シャネル新着アイテム
    %ul
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                1
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                1
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                1
      %li.item-box
        =link_to "仮置きで" do
          = image_tag "仮置き用.jpg"
          .item-box-text
            .text-box
              %h4
                test-image
            .price
              ¥10,000
            .price-tax
              (税込)
            .nice
              = fa_icon "heart"
              %span
                1
    .view-all
      =link_to do
        すべての商品を見る

= render partial: "footer"
