%li
  = link_to user_item_show_path(item.id),class: "mypage-item-link" do
    .figure
      = image_tag"#{item.item_images[0]&.image}", alt: ""
    .mypage-item-body
      .mypage-item-text
        #{item.name}
      .mypage-item-info
        %i.fa.fa-heart.icon
        .listing-item-count
          #{item.likes.count}
        %i.fa.fa-comment-alt.icon
        .listing-item-count
          #{item.communications.count}
        - if item.order_status.id == 1 
          .mypage-item-status_blue
            出品中
        - if item.order_status.id == 3
          .mypage-item-status_red
            公開停止中
    %i.fa.fa-angle-right.icon
